PORT=3000

# Аутентификация
JWT_SECRET=supersecretkey
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=supersecretrefreshkey
JWT_REFRESH_EXPIRES=7d
JWT_EXPIRES_IN=1h

DB_HOST=localhost
DB_PORT=5432,
DB_USERNAME=yuorusername
DB_PASSWORD=yuorpassword
DB_NAME=ecommerce


